* {
    margin: 0;
    padding: 0;
    background: #1F7B67;
    font-family: Comfortaa;
}



#header {
    padding-top: 15px;
    width: 100%;
    height: 70px;
    margin-bottom: 25px;
    float: left;
}

#main {
    width: 80vw;
    height: 1200px;
    background: #006B53;
    border-radius: 50px;
    padding: 0%;
    margin-left: 10%;
    float: left;
    text-align: center;
    line-height: 100vh;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.mainText {
    width: 80%;
    height: auto;
    background: #006B53;
    color: white;
    margin: 15px 10% 10px;
    line-height: 50px;
    font-size: 48px;
}

.branch {
    margin: 0px;
    padding: 0%;
    border-radius: 10px;
    width: 6px;
    height: 800px;
    background-color: black;
    position: absolute;
    right: 15%;
    top: 180px;

}

#firstbr {
    left: 33%;
    top: 50px;
}



.circle {
    border: black solid 6px;
    background-color: #FF8540;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    transition: transform 0.3s ease, background-color 0.5s ease;
}

.circle:hover {
    scale: 1.1;
    background-color: #60D6A7;
}


/* Изначально скрываем элементы */
.hidden {
    opacity: 0;
    transform: translateY(20px); /* Можете изменить на ваше усмотрение */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Класс для появления элементов */
.visible {
    opacity: 1;
    transform: translateY(0);
}

#commit0 {
    right: 12.38%;
    top: 121px;
}

#commit1 {
    right: 12.38%;
    top: 321px;
    z-index: 1;
}

#commit2 {
    right: 12.38%;
    top: 521px;
    z-index: 1;
}

#commit3 {
    right: 12.38%;
    top: 721px;
    z-index: 1;
}

#commit4 {
    right: 12.38%;
    top: 921px;
    z-index: 1;
}

/*.boxModel {*/
/*    height: 150px;*/
/*    width: 30%;*/
/*    background: #1F7B67;*/
/*    border: 5px #60D6A7 solid;*/
/*    border-radius: 10px;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    line-height: 150px;*/
/*    position: absolute;*/
/*}*/

#second {
    left: 3%;
    top: 340px;
}

div img {
    display: block;
    position: absolute;
    height: auto;
    width: 50px;
}

#git {
    right: 80px;
    margin-right: 10px;
}

#tel {
    right: 20px;
}

#git:hover,
#tel:hover {
    scale: 1.2;
}

#footer {
    width: 100%;
    height: 330px;
    background: #1F7B67;
    color: white;
    margin-top: 50px;
    padding-top: 3%;
    float: left;
    line-height: 70px;
    display: flex;
    justify-content: space-around;
}

#information {
    width: 40%;
    height: 90%;
    background-color: #006B53;
    margin-right: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 0px;
}

#feedback {
    background-color: #006B53;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin-left: 50px;
    margin-bottom: 0px;
    width: 50%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0%;
}

.input {
    width: 263px;
    height: 25px;
    margin-top: 40px;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Добавляем мягкую тень */
    transition: border-color 0.3s ease; /* Плавное изменение цвета границы при фокусе */
}

#message {
    margin-top: 0px;
    width: 89%;
    height: 80px;
}

#qs {
    width: 70%;
    height: 20%;
    margin-top: 10px;
}

#buttonFeedBack {
    width: 93%;
    height: 15%;
    background-color: transparent;
    border-radius: 5px;
    border: #60D6A7 solid 3px;
    margin-left: 28px;
    margin-top: 0px;
    color: white;
    position: relative;
    left: -13px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.5s;
}

#buttonFeedBack span {
    background: #60D6A7;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: background-color 2s;
}

#buttonFeedBack:hover {
    background: #60D6A7;
}

    #buttonFeedBack:active {
    scale: 0.95;
}


.input:focus {
    border-color: #66afe9; /* Изменяем цвет границы при фокусе */
    outline: none; /* Убираем стандартное подчеркивание при фокусе */
}

.input-error {
    border: 2px solid #FF4C00;
}

#textForm {
    background: #006B53;
    color: white;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    height: 22px;
    line-height: 22px;
    top: 1406px;
    left: 73px;
}

/* Стили для tooltip */
.tooltip {
    visibility: hidden;
    width: 200px;
    height: 70px;
    background: linear-gradient(to right, #1F7B67 0%, #006B53 100%);
    border: 3px #60D6A7 solid;
    border-radius: 15px;
    padding: 0px;
    position: absolute;
    z-index: 1;
    top: -30%; /* Позиционируем выше элемента */
    right: -430%;
    margin-left: -60px; /* Смещаем влево на половину ширины */
    opacity: 0;
    transition: opacity 0.3s;

}

.tooltip span {
    background: transparent;
    font-size: 18px;
    color: white;
    position: relative;
    bottom: 310px;
}


div span {
    background: white;
    position: relative;
    bottom: 270px

}

.circle:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#bodyText {
    background: #006B53;
    color: white;
    border-radius: 5px;
    width: 75%;
    height: auto; /* Изменил с 50% на auto, чтобы высота подстраивалась под текст */
    margin-left: 5%;
    padding: 20px; /* Добавил отступы внутри блока */
    box-sizing: border-box; /* Учитывает padding и border в общей ширине и высоте */
    font-family: Comfortaa, sans-serif; /* Задал шрифт для текста */
    font-size: 18px; /* Задал размер шрифта */
    line-height: 1.5; /* Увеличил межстрочный интервал для лучшей читаемости */
    text-align: justify; /* Выровнял текст по ширине */
}

#bodyText p {
    background: #006B53;
    margin-bottom: 16px; /* Добавил отступ снизу для каждого абзаца */
}