<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roman Tsyganov</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div id="header">
    <div>
        <a href="https://web.telegram.org/a/">
            <img src="/static/img/telegramIcon.png" alt="Telegram" id="tel">
        </a>
    </div>
    <div>
        <a href="https://github.com/Roms1de">
            <img src="/static/img/githubIcon.png" alt="GitHub" id="git">
        </a>
    </div>
</div>
<div id="main">
    <div class="mainText">Добро пожаловать на мой сайт-портфолио, который демонстрирует мои hard-skills и немного рассказывает о том кто я</div>
    <div class="circle" id="commit0" data-text="Первый коммит">
        <div class="tooltip"><span>Здесь будет одна из технологий используемых в проекте</span></div>
    </div>
    <div class="circle" id="commit1" data-text="Второй коммит">
        <div class="tooltip">Второй коммит</div>
    </div>
    <div class="circle" id="commit2" data-text="Третий коммит">
        <div class="tooltip">Третий коммит</div>
    </div>
    <div class="branch"></div>
    <div class="boxModel" id="first">Какой то текст</div>
    <div class="boxModel" id="second">И тут какой то текст</div>
</div>
<div id="footer">
    <form id="feedback">
        <input type="text" name="name" placeholder="Name" class="input" id="name">
        <input type="text" name="email" placeholder="Email" class="input" id="email">
        <textarea placeholder="Сообщение" name="message" class="input" id="message"></textarea>
        <button id="buttonFeedBack">Отправить</button>
        <div id="textForm">Форма обратной связи</div>
    </form>

    <div id="information"></div>
</div>
<script src="/static/js/scripts.js"></script>
</body>
</html>
