<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roman Tsyganov</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div id="header">
    <div>
        <a href="https://web.telegram.org/a/">
            <img src="/static/img/telegramIcon.png" alt="Telegram" id="tel">
        </a>
    </div>
    <div>
        <a href="https://github.com/Roms1de/SpingProject">
            <img src="/static/img/githubIcon.png" alt="GitHub" id="git">
        </a>
    </div>
</div>
<div id="main">
    <div class="mainText">Добро пожаловать</div>
    <div class="circle" id="commit0" data-text="Первый коммит">
        <div class="tooltip"><span>Java, Sql</span></div>
    </div>
    <div class="circle" id="commit1" data-text="Второй коммит">
        <div class="tooltip"><span>Spring boot, Maven</span></div>
    </div>
    <div class="circle" id="commit2" data-text="Третий коммит">
        <div class="tooltip"><span>Git, GitHub</span></div>
    </div>
    <div class="circle" id="commit3" data-text="Третий коммит">
        <div class="tooltip"><span>Postman</span></div>
    </div>
    <div class="circle" id="commit4" data-text="Третий коммит">
        <div class="tooltip"><span>Intellij Idea</span></div>
    </div>
    <div class="branch"></div>
    <div id="bodyText">
        <p>Меня зовут Роман, я родом из Ростовской области, но в настоящее время живу и учусь в Москве. Моя образовательная карьера началась в обычной школе небольшого городка, где я открыл для себя мир информатики и математики.
            Эти предметы всегда давались мне легко и приносили огромное удовольствие.</p>

        <p>Мой путь в программирование начался в 11 классе, когда я готовился к ЕГЭ по информатике. Тогда я проходил курсы, на которых изучал Python и решал простые алгоритмические задачи. Этот опыт пробудил во мне глубокий интерес к IT и программированию.</p>

        <p>После поступления в вуз я начал изучать язык Java, который меня сильно увлек. Я решил сосредоточиться на развитии своих навыков в этом языке и выбрал для изучения Java Spring Boot и другие важные инструменты для разработки серверной части, такие как Postman, Git, GitHub, Maven и SQL.</p>

        <p>Сейчас я обучаюсь на специальности "Прикладная математика" в высшем учебном заведении, что позволяет мне сочетать мои математические способности с программированием. Мой интерес к web backend разработке заключается в том, что эта работа позволяет создавать функциональные и сложные системы, которые зачастую остаются невидимыми для конечных пользователей, но играют ключевую роль в их взаимодействии с интернетом. Работа с HTTP-запросами и внутренней логикой приносит мне большое удовольствие.</p>

        <p>Этот сайт является моим текущим проектом, демонстрирующим мои навыки в области frontend и backend разработки. Хотя это пока единственный крупный проект, который я смог реализовать, я планирую продолжать его развивать по мере углубления своих знаний и навыков.</p>
    </div>
</div>
<div id="footer">
    <form id="feedback">
        <input type="text" name="name" placeholder="Name" class="input" id="name">
        <input type="text" name="email" placeholder="Email" class="input" id="email">
        <textarea placeholder="Message" name="message" class="input" id="message"></textarea>
        <button type="button" id="buttonFeedBack"><span></span><h1 style="background: transparent">Отправить</h1></button>
        <div id="textForm">Форма обратной связи</div>
    </form>

    <div id="information">

    </div>
</div>
<script src="/static/js/scripts.js"></script>
</body>
</html>
